# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# VS Code
.vscode/

# FAISS vector database
vectorstore/

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Sample PDFs
data/